<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>멋쟁이사자처럼::아기사자 이은정 - EduSystem</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1 th:text="${student.id} == null ? '➕학생 등록' : '✒학생 수정'"></h1>
<p>
  🏠<a href="/">홈으로</a> >
  👩‍🎓<a href="/students">학생 목록</a>
</p>
<form th:action="${student.id} == null ? @{/students/add} : @{/students/edit} " th:object="${student}" method="post">
  <input type="hidden" th:field="*{id}" />
  <p>
    <label>
      이름 : <input type="text" th:field="*{name}" required/>
    </label>
  </p>
  <p>
    <label>
      성적 : <input type="text" th:field="*{score}" required/>
    </label>
  </p>
  <p>
    <label>
      교사 : <select th:field="*{teacherId}" required>
              <option th:each="teacher: ${teachers}" th:value="${teacher.id}" th:text="${teacher.name}"></option>
            </select>
    </label>
  </p>
  <p>
    <button type="submit">SAVE</button>
    <a href="/students" class="btn">CANCEL</a>
  </p>
</form>

</body>
</html>